<mat-card class="home-card">
  <mat-card-title> Kanban Board </mat-card-title>
  <mat-card-content>
    <p>
      Wirtualna tablica Kanban, która umożliwia Ci zarządzanie, porządkowanie oraz śledzenie statusu zadań. 
    </p>
    <p>Stworzona na potrzeby projektu zespołowego przez zespół studentów UWM 🔥Przerzutnik Bistabilny🔥, w którego skład wchodzą - Sebastian Krzynówek, Mateusz Kowalewski, Paweł Kulesza, Marcin Krzemiński, Marcin Kozłowski, Michał Wołyniec.</p>
    <p *ngIf="true">
      <a routerLink="/login">Zaloguj się </a> by móc korzystać z aplikacji
    </p>
    <p *ngIf="true">
      Jeśli jesteś zalogowany przejdź do zakładki <a routerLink="/dashboard">Kanban </a> by rozpocząć
    </p>
  </mat-card-content>
</mat-card>
